<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,
initial-scale=1">
<title>Ethereum Aadhaar Dapp</title>
<linkrel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
integrity="sha384Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopo
El+M6BdEfwnCJZtKxi1KgxUyJq13dy"
crossorigin="anonymous">
</head>
<body>
<div class="container">
<div class="row">
<div>
<h1 class="text-center">Ethereum Aadhaar Dapp</h1>
<hr/>
<br/>
</div>
</div>
<div class="row">
<div class="col-md-4">
<p>Add New Individual</p>
<div class="input-group mb-3">
<input type="text" class="form-control" id="id-input"
placeholder="Enter Name">
</div>
<div class="input-group mb-3">
<input type="text" class="form-control" id="id-input1"
placeholder="Enter PhoneNumber">
</div>
<div class="input-group mb-3">
<input type="text" class="form-control" id="id-input2"
placeholder="Enter Address">
</div>
<div class="input-group mb-3">
<input type="text" class="form-control" id="id-input3"
placeholder="Enter Email">
</div>
<div class="input-group mb-3"> 
  <input type="text" class="form-control" id="id-input4"
placeholder="Enter Birthdate">
</div>
<button class="btn btn-primary"
onclick="App.Aadhaar()">Add</button>
<div class="msg"></div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9Q
pg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous">
</script>
<script
src=https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js
integrity="sha384ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/S
cQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"></script>
<script src=https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.jsintegrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
crossorigin="anonymous"></script>
<script src="app.js"></script>
</body>
</html> 
